{% assign nested_pages = site.sql_101 | where_exp: "item", "item.path contains include.parent_path" %}

<ul>
{% for page in nested_pages %}
  {% assign path_parts = page.path | split: "/" %}
  {% if path_parts.size == include.parent_path | split: "/" | size | plus: 1 %}
    <li>
      {% if page.name == "README.md" %}
        <a href="{{ page.url | relative_url }}">{{ path_parts | last | capitalize }}</a>
        {% assign new_parent_path = page.path | split: ".md" | first %}
        {% include nested_pages.html parent_path=new_parent_path %}
      {% else %}
        <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
