<li>
    {% assign node_name = include.node[0] %}
    {% assign node_url = include.node[1] %}
    {% assign node_type = include.node[2] %}
    {% assign node_title = include.node[3] | default: node_name %}
    {% assign node_children = include.node[4] %}
    
    {% if node_name == "README.md" %}
      <a href="{{ node_url | relative_url }}">{{ node_title }}</a>
    {% elsif node_url %}
      <a href="{{ node_url | relative_url }}">{{ node_title }}</a>
    {% else %}
      {{ node_title }}
    {% endif %}
    
    {% if node_children.size > 0 %}
      <ul>
        {% for child in node_children %}
          {% include render_node.html node=child %}
        {% endfor %}
      </ul>
    {% endif %}
</li>
