// globals
$backgroundColor: #464646;
$bodyColor: #E5E5E5;
$bodyFont: "Proza Libre",sans-serif,"Apple Color Emoji";

$accentColor: #00CCC0;
$accentTwo: #20D2C8;
$accentThree: #40D9D0;
$accentFour: #60DFD8;
$accentFive: #80E6E0;
$accentSix: #9FECE7;
$accentSeven: #BFF2EF;
$accentEight: #DFF9F7;

// tags

a {
  color: $accentSeven;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: $accentColor;
  text-decoration: none;
}

nav a {
  color: $bodyColor;
  text-decoration: none;
}

button:hover {
  color: $accentColor;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding-bottom: 50px;
}

h1 {
  color: $accentColor;
}
h2 {
  color: $accentTwo;
}
h3 {
  color: $accentThree;
}
h4 {
  color: $accentFour;
}
h5 {
  color: $accentFive;
}
h6 {
  color: $accentSix;
}

img {
  max-width: 95%;
  height: auto;
}
@media (min-width: 700px) {
  img {
    max-width: 500px;
    height: auto;
  }
}

// classes
.navbar {
  background-color: $backgroundColor;
}

.navbar-brand {
  color: $accentColor;
}

.navbar-toggler {
  color: $bodyColor;
}

.nav-item {
  color: $accentColor;
  padding-bottom: 5px;
}

.welcome {
  color: $accentColor;
  display: flex;
  font-size: 96px;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

.home {
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}


.svg-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: $bodyColor;
  vertical-align: text-bottom;
}


// ids
