/* tags */
a {
  color: #00CCC0;
}

a:hover {
  color: #CCf4F2;
  text-decoration: none;
}

body {
  background-color: #464646;
  color: #00CCC0;
  font-family: 'Proza Libre', sans-serif;
}


/* classes */
.bar {
  background-color: #00CCC0;
  width: 100%;
  height: 25px;
}

.subtext {
  color: #E5E5E5;
  font-size: 12px;
  text-align: center;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}


/* ids */
#button {
  color: #00CCC0;
  border-color: #00CCC0;
  margin-right: 10px;
  margin-left: 10px;
}

#button:hover {
  background-color: #00CCC0;
  color: #464646;
}
