{% extends "layout.html" %}

{% block body %}
<div class="container">
  ...getting there...<br>
  Thinking about organizational structure, the projects I can showcase are my SQL test for Fishtown, the mode.com analytics training reports, my CS50 final project, anything I complete in this CS50w.<br>
  I should probably organize it.... chronologically??? by type (data analysis report, web application, .. idk)<br>
  Chronologically might give me a good "out" for not having many in each category. Also, I don't have to call a SQL test "data analysis"<br>
  Finally, it lets me showcase development.<br>
  <br>
  I should download the code files from CS50 - really put my development out there... here is me from day one of this journey. Timestamp the problem sets...<br>
  Yea, I like that. Full development arc.<br>
  <br>
  Naturally link to github, but this page will be important. 


</div>
{% endblock %}
