{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h2>Work History</h2>
  <h3>Full Time</h3>
  Underwriter at <em><a href="https://zurichna.com">Zurich North America</a></em> from June 2016 to now.<br>
  Titles held:<br>
  <ul>
    <li>Senior Underwriter, July 2019 to present</li>
    <li>Underwriter, June 2017 to July 2018</li>
    <li>Underwriter Trainee, June 2016 to June 2017</li>
  </ul>

  <h3>Internships</h3>
  FP&A Team Intern at <em><a href="https://ipipeline.com">iPipeline, Inc.</a></em> during the summer of 2015.<br>
  Summer Intern at <em><a href="https://phillies.com">The Philadelphia Phillies</a></em> during the summer of 2014.<br>
  <br>
  And before that, I caddied for six summers from age 14 to 19.
</div>
{% endblock %}
