<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include meta.html %}
  </head>
  <body>

    <div class="welcome">welcome,</div>

    <!-- <nav>
      <ul class="nav nav-pills home">
        <li class="nav-item"><a href="/office" class="nav-link">continue to portfolio...</a></li>
      </ul>
    </nav> -->
    <div class="container">{{ content }}</div>

    {% include contactbar.html %}
    {% include bootstrap.html %}
  </body>
</html>
